% if ((${#TARGET_INC[*]})); then
%     LIST=$(cp_join "\n    " ${TARGET_INC[@]})
include_directories(
    %{ $LIST }%
)

% fi
% if ((${#TARGET_LINK[*]})); then
%     LIST=$(cp_join "\n    " ${TARGET_LINK[@]})
link_directories(
    %{ $LIST }%
)

% fi
%
% SLIST=$(cp_join "\n    " ${SOURCES[@]})
add_library(
    %{ $TARGET_BUILD_NAME }%
    MODULE
    %{ $SLIST }%
)

% PLUG_OUTDIR=../../lib/plugins
% PLUG_INSTDIR=lib/$PKG_NAME/plugins
%
% if [[ -n "${PLUG_CLASS}" ]]; then
%     PLUG_OUTDIR+=".${PLUG_CLASS}"
%     PLUG_INSTDIR=lib/$PLUG_CLASS/plugins
% fi
%
set_target_properties(
    %{ $TARGET_BUILD_NAME }%
    PROPERTIES
% if ((${#CB_LIB_CFLAGS[*]})); then
    COMPILE_FLAGS "%{ ${CB_LIB_CFLAGS[@]} }%"
% fi
% if ((${#CB_LIB_LFLAGS[*]})); then
    LINK_FLAGS "%{ ${CB_LIB_LFLAGS[@]} }%"
% fi
    RUNTIME_OUTPUT_DIRECTORY ../../bin
    LIBRARY_OUTPUT_DIRECTORY %{ ${PLUG_OUTDIR} }%
    RUNTIME_OUTPUT_DIRECTORY_DEBUG ../../bin
    LIBRARY_OUTPUT_DIRECTOR_DEBUG %{ ${PLUG_OUTDIR} }%
    RUNTIME_OUTPUT_DIRECTORY_RELEASE ../../bin
    LIBRARY_OUTPUT_DIRECTORY_RELEASE %{ ${PLUG_OUTDIR} }%
    OUTPUT_NAME %{ $TARGET }%
)
% if ((${#TARGET_LIBS[*]})); then
%     LIST=$(cp_join "\n    " ${TARGET_LIBS[@]})

target_link_libraries(
    %{ $TARGET_BUILD_NAME }%
    %{ $LIST }%
)
% fi
% if ((${#TARGET_DEPS[*]})); then
%     LIST=$(cp_join "\n    " ${TARGET_DEPS[@]})

add_dependencies(
    %{ $TARGET_BUILD_NAME }%
    %{ $LIST }%
)
% fi

install(
    TARGETS %{ $TARGET_BUILD_NAME }%
    LIBRARY DESTINATION %{ $PLUG_INSTDIR }%
)
