% if ((${PLIB_TARGET_MAP[$TARGET]})); then
%     OPTS["process"]=0
% else
%     NAME="lib$TARGET_OUTPUT_NAME"
prefix=%{ $CPKG_PREFIX }%
exec_prefix=${prefix}
libdir=${prefix}/lib
includedir=${prefix}/include/%{ $PRJ_NAME }%

Name: %{ $NAME }%
Description: %{ $PRJ_NAME }% %{ $NAME }% library
Version: %{ $PKG_VER }%
%
%     REQS=()
%
%     for PCDEP in ${TARGET_PCDEPS[@]}; do
%         if ((${PRJ_LOCAL_PKGCONFIGS[$PCDEP]})); then
%             # Ignore locally generated pkg-config file
%             continue
%         else
%             REQS+=($PCDEP)
%         fi
%     done
%
%     if ((${#REQS[@]})); then
Requires: %{ $(cp_join " " ${REQS[@]}) }%
%     fi
%
%     LNK=()
%
%     if ((${#SOURCES} > 0)); then
%         LNK+=("-L\${libdir} -l${TARGET_OUTPUT_NAME}")
%     else
%         for LIB in ${TARGET_LIBS[@]}; do
%             LNK+=("-l$LIB")
%         done
%     fi
%
%     if ((${#LNK[@]})); then
Libs: %{ $(cp_join " " ${LNK[@]}) }%
%     else
Libs:
%     fi
%
Cflags: -I${includedir}
% fi
