%{Bash}%
OPTS["process"]=$((${PRJ_HAS["SVC"]}))

if [[ ! $SERVICE ]]; then
    if (($OPTS["process"])); then
        OPTS["recall-foreach"]="SERVICE ${PRJ_SVCS[@]}"
        OPTS["label"]="generating service default files"
    fi
else
    OPTS["rename-to"]="${PKG_NAME}-services.${SERVICE}.default"
%{/Bash}%
%{ ${SERVICE^^} }%_ENABLE=false
% fi
