%{Bash}%
OPTS["process"]=$((${PRJ_HAS["SVC"]}))
%{/Bash}%
% if ((${OPTS["process"]})); then
%{ ${PKG_NAME} }%-services-dbg: hardening-no-fortify-functions
%{ ${PKG_NAME} }%-services-dbg: new-package-should-close-itp-bug
%{ ${PKG_NAME} }%-services-dbg: package-has-long-file-name
% fi
