%{Bash}%
OPTS["chmod"]="0755"
OPTS["process"]=$((${PRJ_HAS["SVC"]}))
%{/Bash}%
% if ((${OPTS["process"]})); then
#!/bin/bash

set -e

function create_or_start_service() {
    local SERVICE=$1

    if [ ! -d /etc/sv/$SERVICE ]; then
        echo "creating $SERVICE system service"
        svsetup -u %{ ${PRJ_USER} }% -l %{ ${PRJ_USER} }% CREATE $SERVICE
        touch /etc/sv/$SERVICE/down
        echo "enabling $SERVICE system service"
        svsetup ENABLE $SERVICE
    else
        echo "starting $SERVICE system service"
        service $SERVICE start
    fi
}

if [ "$1" = "configure" ]; then
%     for SERVICE in ${PRJ_SVCS[@]}; do
    create_or_start_service %{ ${SERVICE} }%
%     done
fi

#DEBHELPER#
% fi
