usr/bin/%{ ${PKG_NAME} }%-config
usr/share/man/man1/%{ ${PKG_NAME} }%-config.1
% if ((${PRJ_HAS["ETCDIR"]})); then
etc/%{ ${PKG_NAME} }%
% fi
% if ((${PRJ_HAS["SHAREDIR"]})); then
usr/share/%{ ${PKG_NAME} }%
% fi
