%{Bash}%
OPTS["process"]=$((${PRJ_HAS["ETCDIR"]} || ${PRJ_HAS["SHAREDIR"]}))
%{/Bash}%
% if ((${PRJ_HAS["ETCDIR"]})); then
etc/%{ ${PKG_NAME} }%
% fi
% if ((${PRJ_HAS["SHAREDIR"]})); then
usr/share/%{ ${PKG_NAME} }%
% fi
