%{Bash}%
OPTS["process"]=$((${PRJ_HAS["BIN_ONLY"]}))
%{/Bash}%
% if ((${OPTS["process"]})); then
%     for BIN in ${PRJ_BINS_ONLY[@]}; do
usr/bin/%{ ${BIN} }%
usr/share/man/man1/%{ ${BIN} }%.*
%     done
% fi
