% OPTS["rename-to"]="control"
Source: %{ ${PKG_NAME} }%
Section: %{ ${PKG_CAT} }%
Priority: optional
Maintainer: %{ ${PKG_AUTHOR} }%
Build-Depends: debhelper (>= 9), build-essential, perl
Standards-Version: 3.7.2

Package: %{ ${PKG_NAME}-common }%
Architecture: any
Depends: ${misc:Depends}
Description: common files
 %{ ${PKG_SHORTDESC} }% common files
 .
% if ((${PRJ_HAS["BIN"]})); then

Package: %{ ${PKG_NAME} }%
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %{ ${PKG_NAME}-common }%
Description: programs
 %{ ${PKG_SHORTDESC} }% programs and utilities
 .

Package: %{ ${PKG_NAME} }%-dbg
Section: debug
Priority: extra
Architecture: any
Description: debug symbols
 %{ ${PKG_SHORTDESC} }% debugging support
 .
% fi
% if ((${PRJ_HAS["SVC"]})); then

Package: %{ ${PKG_NAME} }%-services
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, svtools, daemontools, daemontools-run, %{ ${PKG_NAME}-common }%
Description: services
 %{ ${PKG_SHORTDESC} }% system services
 .

Package: %{ ${PKG_NAME} }%-services-dbg
Section: debug
Priority: extra
Architecture: any
Description: services debug symbols
 %{ ${PKG_SHORTDESC} }% debugging support
 .
% fi
% if ((${PRJ_HAS["BIN_LIB"]})); then

Package: lib%{ ${PKG_NAME} }%
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %{ ${PKG_NAME}-common }%
Description: libraries
 %{ ${PKG_SHORTDESC} }% shared libraries
 .

Package: lib%{ ${PKG_NAME} }%-dbg
Section: debug
Priority: extra
Depends: lib%{ ${PKG_NAME} }%-dev (= ${binary:Version})
Architecture: any
Description: libraries debug symbols
 lib%{ ${PKG_SHORTDESC} }% debugging support
 .
% fi
% if ((${PRJ_HAS["LIB"]})); then
%     DEV_DEPS=""
%
%     if ((${#PRJ_PKGS[*]})); then
%         for DEP in ${!PRJ_PKGS[@]}; do
%             DEV_DEPS+=", $DEP"
%         done
%     fi

Package: lib%{ ${PKG_NAME} }%-dev
Section: libdevel
Architecture: all
%     if ((${PRJ_HAS["BIN_LIB"]})); then
Depends: ${misc:Depends}, lib%{ ${PKG_NAME} }% (= ${binary:Version})%{ ${DEV_DEPS} }%
%     else
Depends: ${misc:Depends}%{ ${DEV_DEPS} }%
%     fi
Description: development files
 %{ ${PKG_SHORTDESC} }% development headers and files
 .
% fi
% if ((${PRJ_HAS["PLUG"]})); then

Package: %{ ${PKG_NAME} }%-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %{ ${PKG_NAME}-common }%
Description: plugins
 %{ ${PKG_SHORTDESC} }% plugins shared libraries
 .

Package: %{ ${PKG_NAME} }%-plugins-dbg
Section: debug
Priority: extra
Architecture: any
Description: plugins debug symbols
 %{ ${PKG_SHORTDESC} }%-plugins debugging support
 .
% fi
