% OPTS["rename-to"]="control"
Source: %{ ${PKG_NAME} }%
Section: %{ ${PKG_CAT} }%
Priority: optional
Maintainer: %{ ${PRJ_AUTHOR} }%
Build-Depends: debhelper (>= 7), build-essential, perl
Standards-Version: 3.7.2

Package: %{ ${PKG_NAME}-common }%
Architecture: any
Depends: ${misc:Depends}
Description: %{ ${PRJ_SHORTDESC} }% common files
 %{ ${PRJ_SHORTDESC} }% common files
 .
% if ((${PRJ_HAS["BIN"]})); then

Package: %{ ${PKG_NAME} }%
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %{ ${PKG_NAME}-common }%
Description: %{ ${PRJ_SHORTDESC} }% programs
 %{ ${PRJ_SHORTDESC} }% programs and utilities
 .

Package: %{ ${PKG_NAME} }%-dbg
Section: debug
Priority: extra
Architecture: any
Description: %{ ${PRJ_SHORTDESC} }% debug symbols
 %{ ${PRJ_SHORTDESC} }% debugging support
 .
% fi
% if ((${PRJ_HAS["SVC"]})); then

Package: %{ ${PKG_NAME} }%-services
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, svtools, daemontools, daemontools-run, %{ ${PKG_NAME}-common }%
Description: %{ ${PRJ_SHORTDESC} }% services
 %{ ${PRJ_SHORTDESC} }% system services
 .

Package: %{ ${PKG_NAME} }%-services-dbg
Section: debug
Priority: extra
Architecture: any
Description: %{ ${PRJ_SHORTDESC} }% services debug symbols
 %{ ${PRJ_SHORTDESC} }% debugging support
 .
% fi
% if ((${PRJ_HAS["BIN_LIB"]})); then

Package: lib%{ ${PKG_NAME} }%
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %{ ${PKG_NAME}-common }%
Description: %{ ${PRJ_SHORTDESC} }% libraries
 %{ ${PRJ_SHORTDESC} }% shared libraries
 .

Package: lib%{ ${PKG_NAME} }%-dbg
Section: debug
Priority: extra
Depends: lib%{ ${PKG_NAME} }%-dev (= ${binary:Version})
Architecture: any
Description: lib%{ ${PRJ_SHORTDESC} }% debug symbols
 lib%{ ${PRJ_SHORTDESC} }% debugging support
 .
% fi
% if ((${PRJ_HAS["LIB"]})); then

Package: lib%{ ${PKG_NAME} }%-dev
Section: libdevel
Architecture: all
%     if ((${PRJ_HAS["BIN_LIB"]})); then
Depends: ${misc:Depends}, lib%{ ${PKG_NAME} }% (= ${binary:Version})
%     else
Depends: ${misc:Depends}%{ ${dev_deps} }%
%     fi
Description: %{ ${PRJ_SHORTDESC} }% development files
 %{ ${PRJ_SHORTDESC} }% development headers and files
 .
% fi
% if ((${PRJ_HAS["PLUG"]})); then

Package: %{ ${PKG_NAME} }%-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, %{ ${PKG_NAME}-common }%
Description: %{ ${PRJ_SHORTDESC} }% plugins
 %{ ${PRJ_SHORTDESC} }% plugins shared libraries
 .

Package: %{ ${PKG_NAME} }%-plugins-dbg
Section: debug
Priority: extra
Architecture: any
Description: %{ ${PRJ_SHORTDESC} }% plugins debug symbols
 %{ ${PRJ_SHORTDESC} }%-plugins debugging support
 .
% fi
