%{Bash}%
OPTS["process"]=$((${PRJ_HAS["LIB"]}))
if ((${OPTS["process"]})); then
%{/Bash}%
%     if ((${PRJ_HAS["BIN_LIB"]})); then
usr/lib/lib*.so
%     fi
%
%     for LIB in ${PRJ_LIBS[@]}; do
%         if ((${PLIB_TARGET_MAP[$LIB]})); then
%             continue
%         else
usr/lib/pkgconfig/lib%{ ${LIB} }%.pc
%         fi
%     done
usr/include/%{ ${PRJ_NAME} }%
% fi
