%{Bash}%
OPTS["chmod"]="0755"
OPTS["process"]=$((${PRJ_HAS["LIB"]}))
%{/Bash}%
% if ((${OPTS["process"]})); then
#!/usr/bin/make -f

%{ % }%:
	dh $@

% if ((${#PRJ_MANPAGES[@]})); then
override_dh_auto_build-indep:
	@echo "building man pages"
	@mkdir -p usr/share/man/man1
%     for MANPAGE in ${!PRJ_MANPAGES[@]}; do
	@echo "%{ $MANPAGE }%.1"
	@pod2man \
		-n %{ $MANPAGE }% \
		%{ ${PRJ_MANPAGES[$MANPAGE]} }% \
		usr/share/man/man1/%{ $MANPAGE }%.1
%     done
% fi

% if ((${PRJ_HAS["SVC"]})); then
override_dh_installinit:
%     for SVC in ${PRJ_SVCS[@]}; do
	dh_installinit -p%{ ${PKG_NAME} }%-services --no-start --name=%{ ${SVC} }%
%     done
% fi

override_dh_strip:
% if ((${PRJ_HAS["BIN"]})); then
	dh_strip -p%{ ${PKG_NAME} }% --dbg-package=%{ ${PKG_NAME} }%-dbg
% fi
% if ((${PRJ_HAS["SVC"]})); then
	dh_strip -p%{ ${PKG_NAME} }%-services --dbg-package=%{ ${PKG_NAME} }%-services-dbg
% fi
% if ((${PRJ_HAS["BIN_LIB"]})); then
	dh_strip -plib%{ ${PKG_NAME} }% --dbg-package=lib%{ ${PKG_NAME} }%-dbg
% fi
% if ((${PRJ_HAS["PLUG"]})); then
	dh_strip -p%{ ${PKG_NAME} }%-plugins --dbg-package=%{ ${PKG_NAME} }%-plugins-dbg
% fi
% fi
